@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Roboto&display=swap');

body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 2px solid #9e02c9;
    /* background: #f4f4f4; */
    font-family: 'Hind Siliguri', sans-serif;
}

main {
    min-height: 20em;
}

footer {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

a:hover {
    color: #ccc;
}

nav {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Viaoda Libre', cursive; */
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.2em;
}

nav a {
    color: #ef60ff;
    padding: 0.2em;
}

nav a:hover {
    color: #ccc;
}

.active {
    color: #6f1ace;
    font-weight: bold;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #7B2E72;
}

.scoreBoard {
    background-color: #b985c4;
    border: 1px solid #000;
    padding: 0 1em;
    position:relative;
}

.dices {
    position:absolute;
    bottom: 1em;
    right: 2em;
}

.dices_right {
    float: right;
    padding-right: 10px;
}

form {
    margin-top: 2em;
}

.logo h1{
    color: #6f1ace;
}



/**
 * Style a dice using UTF-8 characters.
 */
.dice-utf8 .dice-1::after { content: "\2680"; }
.dice-utf8 .dice-2::after { content: "\2681"; }
.dice-utf8 .dice-3::after { content: "\2682"; }
.dice-utf8 .dice-4::after { content: "\2683"; }
.dice-utf8 .dice-5::after { content: "\2684"; }
.dice-utf8 .dice-6::after { content: "\2685"; }

.dice-utf8 {
    font-size: 40px;
}

.dice-utf8 i {
    font-style: normal;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d9c3e0;
}


.input {
    font-size: 1em;
    line-height: 1em;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 20rem;
    margin-bottom: 1.4rem;
}

/*shows green or red if valid/invalid input*/
.input:valid {
    border: 1px solid green;
}

.input:invalid {
    border: 1px solid red;
}
.button {
    padding: 0.4rem 1rem;
    margin-right: 1em;
}
