{% extends 'base.html.twig' %}


{% block main %}
    <h1>My dice view </h1>
    <p>Here you can try out the dices, every time you reload
    the page the dices will roll anew. </p>
    <p>Two random dices are rolled, result is: </p>

    {{ dicehand.roll() }}
    {{ dicehand.getLastRoll() }}

    <h1>Rolling six graphic dices</h1>

    <p class="dice-utf8">
        {% for gclass in graphclass %}
            <i class="{{gclass}}"></i>
        {% endfor %}
    </p>

{% endblock %}
