{% extends 'base.html.twig' %}

{% block main %}

    <h1>Welcome to my project pages</h1>
    <p>This is the index page, rendered as a layout.</p>

    <p>These pages were coded during the course MVC in the spring of 2021.
        The project consists of PHP code in the Symfony framework, using
        Doctrine as ORM to connect to a MySQL database on the student server.</p>

    <p>Check out my github repository in the link in the footer!</p>

    <img src="../public/images/flower.jpg" alt="flower">

{% endblock %}
