{% extends 'base.html.twig' %}

{% block main %}

    <h1>Session details</h1>
    <p>Here are some details on the session. Reload this page to see the counter increment itself.</p>
    <p>You may <a href="session/destroy">destroy the session</a> if you like, good for dealing
    with trouble.</p>

    <p>Session information is only shown in dev mode </p>


{% endblock %}
